@CHARSET "UTF-8";

html{background: url("../image/background.png") 0% 0%;}
	body{width:500px; margin:0 auto;font-family: "trebuchet MS"}
		body h1{font-size:32px;}

		body aside.panel{width:220px;clear:none;}
		body aside.panel.left{float:left}
		body aside.panel.right{float:right;}
			
		body footer{ background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6); border: 1px solid #DFDFDF;border-radius: 5px 5px 5px 5px;bottom: 10px;font-size: 13px;line-height: 11px;padding: 10px;position: absolute;text-align: center;width: 480px;}
			body footer p{margin:2px;}
		
a{color:#FE642C;text-decoration: none;}
	a:hover{color:#E85127;text-decoration: none;}

h2{float:left;margin-top:0px;}
	h2 span{color:#e85127;}
.delete-list{float:left;margin-left:2px;}

aside#shopping-list{padding:20px;}
	aside#shopping-list a.file{float:right;}
		aside#shopping-list a.file span{float:left;margin-top:4px;}

aside.box{background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);border: 1px solid #DFDFDF;border-radius: 5px 5px 5px 5px;clear: both;padding: 10px;margin-bottom:20px;}
	aside .bold{font-weight: bold;}
	aside .small{font-size:11px;}

aside.error{background: none repeat scroll 0 0 rgba(210, 16, 53, 0.6);border: 1px solid #CF0213;color: #FFFFFF;margin-bottom: 20px;padding: 10px;}
	aside.error a{color:#DBD774;}

ol#products-list a{visibility: hidden;float:right;}
ol#products-list li{margin-bottom:5px;}
	ol#products-list li:hover{border-bottom:1px solid #dfdfdf;margin-bottom:4px;}
		ol#products-list li:hover a{visibility: visible;}


.welcome-text{text-align:center;margin-top:20px;}
